body {
  font-family: Arial, sans-serif;
  color: #333;
  text-align: center;
  background-color: darkslategray;
}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #006699;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
}

audio {
  width: 80%;
  max-width: 600px;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin: 0 auto;
}
